{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Static Website</title>
    <link rel="stylesheet" href="{% static 'forum/index.css' %}">
    <script src="https://kit.fontawesome.com/4bf7ca5569.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

</head>

<body>

    <div class="section__container">
        <div class="section__left">
            <nav class="nav__left">
                <div class="brand-logo__container"><img src="{% static 'forum/logo.png' %}" class="brand-logo" alt=""></div>
                <ul class="nav__left__buttons">
                    <li class="nav__left__button">
                        <a href="#" class="nav__left__link"><i class="fas fa-signal"></i></a>
                    </li>
                    <li class="nav__left__button">
                        <a href="#" class="nav__left__link"><i class="fas fa-users"></i></a>
                    </li>
                    <li class="nav__left__button">
                        <a href="#" class="nav__left__link"><i class="far fa-calendar-alt"></i></a>
                    </li>
                    <li class="nav__left__button">
                        <a href="#" class="nav__left__link"><i class="fab fa-behance-square"></i></a>
                    </li>
                </ul>
            </nav>
        </div>


        <div class="section__main">
            <nav class="nav__top">
                <a href="{% url 'forum-home' %}" class="nav__top__brand-name">DESIGNDEV FORUM</a>
                <div class="nav__top__search__container">
                    <i class="fas fa-search"></i>
                    <input class="nav__top__search" type="search" placeholder="Search the forum">
                </div>


                {% if user.is_authenticated %}
                    <div class="nav__top__guest">
                        <div class="nav__top__guest__buttons">

                            <a class="nav__top__guest__button" href="{% url 'profile' %}">Profil</a>
                            <a class="nav__top__guest__button" href="{% url 'logout' %}">Wyloguj się</a>
                        </div>
                    <p>Witaj, {{ user.username }}</p>
                        <img src="{{ user.profile.image.url }}" alt="user-picture">
                </div>
                {% else %}
                    <div class="nav__top__guest">
                        <div class="nav__top__guest__buttons">
                            <p class="nav__top__guest__buttons__text">Proszę się zalogować</p>

                            <a class="nav__top__guest__button" href="{% url 'login' %}">Zaloguj się</a>
                            <a class="nav__top__guest__button" href="{% url 'register' %}">Zarejestruj się</a>
                        </div>
                        <p>Welcome, Guest!</p>
                        <i class="fas fa-user-circle"></i>
                    </div>
                {% endif %}
            </nav>


            <section class="section__main__content">
                {% block content %}{% endblock content %}
            </section>

            <div class="section__main__separator"></div>

        </div>

        <div class="section__right">

        </div>
    </div>




</body>

</html>