{% extends 'forum/base.html' %}
{% block content %}
<div class="hot-topics">
    <header class="hot-topics__header">
        <i class="fas fa-burn"></i>
        <h1>HOT TOPICS</h1>
        <a href="#" class="hot-topics__header__button">View All</a>
    </header>
    <ul class="hot-topics__list">
        <li class="hot-topics__topic">
            <h2 class="hot-topics__topic__header">nasrala mu w gacie</h2>
            <p class="hot-topics__topic__desc">ale beka</p>
            <ul class="hot-topics__topic__statistics">
                <li>300 replies</li>
                <li>300 likes</li>
                <li>300 views</li>
                <li>Dział design</li>
            </ul>
        </li>
        <li class="hot-topics__topic">
            <h2 class="hot-topics__topic__header">nasrala mu w gacie</h2>
            <p class="hot-topics__topic__desc">ale beka</p>
            <ul class="hot-topics__topic__statistics">
                <li>300 replies</li>
                <li>300 likes</li>
                <li>300 views</li>
                <li>Dział design</li>
            </ul>
        </li>
        <li class="hot-topics__topic">
            <h2 class="hot-topics__topic__header">nasrala mu w gacie</h2>
            <p class="hot-topics__topic__desc">ale beka</p>
            <ul class="hot-topics__topic__statistics">
                <li>300 replies</li>
                <li>300 likes</li>
                <li>300 views</li>
                <li>Dział design</li>
            </ul>
        </li>
    </ul>
</div>

<div class="section__main__content__separator"></div>


<div class="section__main__content__right">

    <div class="categories">
        <header class="categories__header">
            <i class="fas fa-align-right"></i>
            <h1>CATEGORIES</h1>
        </header>
        <ul class="categories__list">
            {% for category in categories_obj %}
                <li class="categories__category">{{ category.title }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="stats">
        <header class="stats__header">
            <i class="fas fa-chart-bar"></i>
            <h1>Forum stats</h1>
        </header>
        <ul class="stats__list">
            <li class="stats__statistic">200 users online from 16 countries</li>
            <li class="stats__statistic">600 Active members</li>
            <li class="stats__statistic">400 topics</li>
            <li class="stats__statistic">9999999999 posts</li>
            <li class="stats__statistic">9999 categories</li>
        </ul>
    </div>

</div>
{% endblock content %}

