{% extends 'forum/base.html' %}
{% block content %}
<div class="hot-topics">
    <ul class="hot-topics__list">
        {% for post in topic_obj %}
        <li class="hot-topics__topic">
            <h2 class="hot-topics__topic__header"><a
                    href="{% url 'topic-detail' post.category.slug post.slug %}">{{ post.title }}</a></h2>
            <p class="hot-topics__topic__desc">{{ post.content|truncatewords:20 }}</p>
            <ul class="hot-topics__topic__statistics">
                <div class="hot-topics__topic__statistics__container">
                    <li>Autor: <a href="{% url 'topic-user' post.author.username %}">{{ post.author }}</a></li>
                    <li>Data: {{ post.date_posted|date:'d F Y'}}</li>
                    <li class="section-mark {{ post.category }}"><a
                            href="{% url 'topic-category' post.category.slug %}">{{ post.category }}</li></a>
                </div>

            </ul>
        </li>
        {% endfor %}


        {% if is_paginated %}

        {% if page_obj.has_previous %}
        <a href="?page=1">Pierwsza</a>
        <a href="?page={{ page_obj.previous_page_number }}">Poprzednia</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Następna</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Ostatnia</a>
        {% endif %}

        {% endif %}

    </ul>
</div>

{% endblock content %}