{% extends 'forum/base.html' %}
{% block content %}
<div class="hot-topics">
    <header class="hot-topics__header">
        <i class="fas fa-burn"></i>
        <h1>HOT TOPICS</h1>
        <a href="{% url 'topic-all' %}" class="hot-topics__header__button">Wszystkie Tematy</a>
    </header>
    <ul class="hot-topics__list">
        <li class="hot-topics__topic">
            <h2 class="hot-topics__topic__header">{{ topic_obj.title }}</h2>
            <p class="hot-topics__topic__desc">{{ topic_obj.content }}</p>
            <ul class="hot-topics__topic__statistics">
                <div class="hot-topics__topic__statistics__container">
                     <li>Autor: <a href="{% url 'topic-user' topic_obj.author.username %}">{{ topic_obj.author }}</a></li>
                    <li>Data: {{ topic_obj.date_posted|date:'d F Y'}}</li>
                    <li class="section-mark {{ topic_obj.category }}"><a href="{% url 'topic-category' topic_obj.category.slug %}">{{ topic_obj.category }}</li></a>
                </div>

            </ul>
        </li>
    </ul>
</div>
{% endblock content %}