@import "reset.scss";
@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');

body{
    background-color: #FFF5FF;
}

p, input{
    font-family: 'Kulim Park', sans-serif;
    color:#595959;
}
.section__container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100vh;
}

.section__left{
    flex:2;
    max-width: 5.5rem;


}

.section__main{
    margin-left: .5rem;
    flex:8;
    display: flex;
    flex-direction: column;
}

.section__right{
    flex:2;
    max-width: 4.5rem;
}

.brand-logo{
    width: 100%;
    height: auto;
    flex: 1;
}


.brand-logo__container{
    max-height: 5.5rem;
    width: 100%;
    display: block;
    overflow: hidden;
    background: linear-gradient(335deg, rgba(111,18,255,0.819765406162465) 0%, rgba(100,0,255,0.8) 100%);
    border-bottom-right-radius: 10px;
    flex: 1;
}

.nav__left{
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
}

.nav__left__buttons{
    flex: 5.5;
    margin-top: 1.3rem;
    display: flex;
    flex-direction: column;

    .nav__left__button{
        align-self: center;
        //flex: 1;
        margin: 1.5rem 0;
        padding: .6rem;
        

        &:hover{
            background-color: #EFEEE4;

            box-shadow: inset 0px 0px 5px 0px rgba(199,199,199,1);
            border-radius: 5px;

            & i{
                color: rgb(131,58,180);

            }
        }

    }

    

    .nav__left__link i{
        font-size: 1.6rem;
        //color: rgb(63,94,251);
        //color: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
        color: #3c3c3c;


    }
}

/*
        <nav class="nav__top">
            <p class="nav__top__brand-name">DESIGNDEV FORUM</p>
            <input class="nav__top__search" type="search" placeholder="Search the forum">
            <div class="nav__top__guest">
                <p>Welcome, <!-- NAZWA KONTRA || Guest -->!</p>
                <img src="" class="nav__top__guest__image" alt="nazwa-konta">
            </div>
        </nav>
*/
.nav__top{
    max-height: 5.5rem;
    display: flex;
    flex-direction: row;
    flex: 1;
    //align-content: space-between;
    justify-content: space-between;

    .nav__top__brand-name{
        letter-spacing: 6px;
        font-family: 'Kulim Park', sans-serif;
        font-size: 1rem;
        margin-left: 1.5rem;
        color:#595959;
        text-decoration: none;
    }


    .nav__top__search__container{

        width: 55%;
        height: 2.2rem;
        //border: 1px solid rgba(96, 96, 96,.1);
        border-radius: 50px;
        overflow: hidden;
        box-shadow: 0px 1px 3px 0px rgba(30, 30, 30, 0.2);
        display: flex;
        flex-direction: row;

        i{
            margin: 0 .8rem 0 1rem;
            color: rgba(100,0,255,0.788953081232493);
            font-size: 1.2rem;
        }

    }

    .nav__top__search{
        background-color: #FFF5FF;
        //flex:1;
        height: 100%;
        width: 100%;
        border:none;
        
    }

    .nav__top__guest{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
        cursor: default;
        

        .nav__top__guest__image__container{
            width: 2.5rem;
            height: 2.5rem;
            overflow: hidden;
            border-radius: 50%;
            margin: 0 1rem 0 1rem;
        }

        .nav__top__guest__image{
            width: 100%;
            height: 100%;
            

        }

        &:hover .nav__top__guest__buttons{
            display: block;
        }

        .nav__top__guest__buttons{
            z-index:9999;
            display: none;
            box-shadow: 0px 0px 10px 0px rgba(30, 30, 30, 0.1);
            position: absolute;
            //display: block;
            width: 80%;
            //margin-top:2%;
            top:100%;
            left:-1.8rem;
            //height: 250%;
            background-color: #FCF8FF;
            border-radius: .2rem;
            padding: 1rem .6rem 1.5rem;



            &:hover{
                display: block;
            }

            .nav__top__guest__buttons__text{
                color: #4B4453;
                text-align: center;
                margin: 0 0 1.5rem;
            }


            .nav__top__guest__button{
                font-family: 'Kulim Park', sans-serif;
                text-align: center;
                margin:.5rem auto;
                width: 95%;
                line-height: 180%;
                display: block;
                background-color: #00BB64;
                color:white;
                text-decoration: none;
                border-radius: 20px;

                &:nth-of-type(2){
                    background-color: #EFEEE4;
                    color:#A3AF9E;
                }
            }

        }
        i{
            font-size: 2.6rem;
            color: rgba(179, 179, 255,0.7);
            margin: 0 1rem 0 1rem;
            
        }
    }

    *{
        align-self: center;
    }
}


section.section__main__content{
    margin-top: .2rem;
    flex: 5.3;
    background: linear-gradient(335deg, rgba(111,18,255,0.819765406162465) 0%, rgba(100,0,255,0.8) 100%);
    //height: 100%;
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:white;
    font-family: 'Kulim Park', sans-serif;
}

.section__main__separator{
    flex: 0.2;
    //max-height: 1.5rem;
}


.hot-topics{
    margin: 2rem  0  0 3rem;
    flex:2;
    max-width: 45%;

    .hot-topics__header{
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;

        i{
            color: rgba(255,255,255,.6);
            font-size: 1.2rem;
        }

        h1{
            margin: 0 auto 0 .7rem;
            font-size: 1.2rem;
        }
        .hot-topics__header__button{
            text-decoration: none;
            color: white;
            position: relative;
        }
        .hot-topics__header__button:before{
            content: '';
            //z-index: -1;
            position: absolute;
            //background-color: white;
            //border: 1px solid black;
            width: 140%;
            height: 160%;
            border-top: 1px solid white;
            border-right: 1px solid white;
            border-radius: 50px;
            border-left: none;
            top: -40%;
            right: -20%;
            box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
            box-shadow: inset 0px 0px 8px 0px rgba(255,255,255,1);
        }
    }

    .hot-topics__list{
        background-color: white;
        border-radius: 8px;
        padding: 2rem 1.5rem;
        color: red;
        p{
            color:red;
        }
    }

    .hot-topics__topic{
        
    }
}

.section__main__content__right{
    margin: 2rem  3rem 0 0;
    flex:1;
}

.section__main__content__separator{
    flex:1;
    max-width: 8%;
}


.categories{



    &__header{
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;

        i{
            color: rgba(255,255,255,.6);
            font-size: 1.2rem;
        }

        & h1{
            color:white;
            margin: 0 auto 0 .7rem;
            font-size: 1.2rem;
            
        }


        &__button{


        }
    }

    &__list{

        padding: 1.5rem 1.5rem;
        margin-bottom:2rem;

        background-color:white;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;


        .categories__category{
            position: relative;
            text-align: center;
            display: block;
            padding: .5rem 1.3rem;
            margin: .5rem .6rem;
            border-radius: 20px;

            cursor: pointer;

            border: none;
            background-size: 300% 100%;

            moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;

            background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
            
            &:hover {
                background-position: 100% 0;
                moz-transition: all .4s ease-in-out;
                -o-transition: all .4s ease-in-out;
                -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
            }

            &:focus {
                outline: none;
            }

            &:nth-of-type(2){
                background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
                box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
            }

            &:nth-of-type(3){
                background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
                box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
            }

            &:nth-of-type(4){
                background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
                box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
            }

            &:nth-of-type(5){
                background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
                box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
            }

            &:nth-of-type(6){
                background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
                box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
            }

            &:nth-of-type(7){
                background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
                box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
            }

            &:nth-of-type(8){
                background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
            }

            &:nth-of-type(9){
                background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
            }

            &:nth-of-type(10){
                background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
            }
        }
    }

}





.stats{


    &__header{

        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;

        i{
            color: rgba(255,255,255,.6);
            font-size: 1.2rem;
        }

        & h1{
            color:white;
            margin: 0 auto 0 .7rem;
            font-size: 1.2rem;
            
        }
    }


    &__list{

        padding: 1.5rem 1.5rem;
        margin-bottom:1rem;

        background-color:white;
        border-radius: 8px;


        .stats__statistic{
            color: #595959;

            &:nth-of-type(n+2){
                margin-top: .6rem;


            }



        }
    }
}
