@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Kulim+Park&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media only screen and (min-width: 992px) {
  html, body {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1010px) {
  html, body {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1200px) {
  html, body {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1350px) {
  html, body {
    font-size: 16px;
  }
}
body {
  background-color: #FFF5FF;
}

p, input {
  font-family: "Kulim Park", sans-serif;
  color: #595959;
}

.section__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
}

.section__left {
  flex: 2;
  max-width: 5.5rem;
}

.section__main {
  margin-left: 0.5rem;
  flex: 8;
  display: flex;
  flex-direction: column;
}

.section__right {
  flex: 2;
  max-width: 4.5rem;
}

.brand-logo {
  width: 100%;
  height: auto;
  flex: 1;
}

.brand-logo__container {
  max-height: 5.5rem;
  width: 100%;
  display: block;
  overflow: hidden;
  background: linear-gradient(335deg, rgba(111, 18, 255, 0.8197654062) 0%, rgba(100, 0, 255, 0.8) 100%);
  border-bottom-right-radius: 10px;
  flex: 1;
}

.nav__left {
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
}

.nav__left__buttons {
  flex: 5.5;
  margin-top: 1.3rem;
  display: flex;
  flex-direction: column;
}
.nav__left__buttons .nav__left__button {
  align-self: center;
  margin: 1.5rem 0;
  padding: 0.6rem;
}
.nav__left__buttons .nav__left__button:hover {
  background-color: #EFEEE4;
  box-shadow: inset 0px 0px 5px 0px #c7c7c7;
  border-radius: 5px;
}
.nav__left__buttons .nav__left__button:hover i {
  color: #833ab4;
}
.nav__left__buttons .nav__left__link i {
  font-size: 1.6rem;
  color: #3c3c3c;
}

/*
        <nav class="nav__top">
            <p class="nav__top__brand-name">DESIGNDEV FORUM</p>
            <input class="nav__top__search" type="search" placeholder="Search the forum">
            <div class="nav__top__guest">
                <p>Welcome, <!-- NAZWA KONTRA || Guest -->!</p>
                <img src="" class="nav__top__guest__image" alt="nazwa-konta">
            </div>
        </nav>
*/
.nav__top {
  min-height: 5.5rem;
  max-height: 5.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__top .nav__top__brand-name {
  letter-spacing: 6px;
  font-family: "Kulim Park", sans-serif;
  font-size: 1rem;
  margin-left: 1.5rem;
  color: #595959;
  text-decoration: none;
}
.nav__top .nav__top__search__container {
  width: 55%;
  height: 2.2rem;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0px 1px 3px 0px rgba(30, 30, 30, 0.2);
  display: flex;
  flex-direction: row;
}
.nav__top .nav__top__search__container i {
  margin: 0 0.8rem 0 1rem;
  color: rgba(100, 0, 255, 0.7889530812);
  font-size: 1.2rem;
}
.nav__top .nav__top__search {
  background-color: #FFF5FF;
  height: 100%;
  width: 100%;
  border: none;
}
.nav__top .nav__top__guest {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  cursor: default;
}
.nav__top .nav__top__guest .nav__top__guest__image__container {
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 1rem 0 1rem;
}
.nav__top .nav__top__guest .nav__top__guest__image {
  width: 100%;
  height: 100%;
}
.nav__top .nav__top__guest:hover .nav__top__guest__buttons {
  display: block;
}
.nav__top .nav__top__guest .nav__top__guest__buttons {
  z-index: 9999;
  display: none;
  box-shadow: 0px 0px 10px 0px rgba(30, 30, 30, 0.1);
  position: absolute;
  width: 80%;
  top: 100%;
  left: -1.8rem;
  background-color: #FCF8FF;
  border-radius: 0.2rem;
  padding: 1rem 0.6rem 1.5rem;
}
.nav__top .nav__top__guest .nav__top__guest__buttons:hover {
  display: block;
}
.nav__top .nav__top__guest .nav__top__guest__buttons .nav__top__guest__buttons__text {
  color: #4B4453;
  text-align: center;
  margin: 0 0 1.5rem;
}
.nav__top .nav__top__guest .nav__top__guest__buttons .nav__top__guest__button {
  font-family: "Kulim Park", sans-serif;
  text-align: center;
  margin: 0.5rem auto;
  width: 95%;
  line-height: 180%;
  display: block;
  background-color: #00BB64;
  color: white;
  text-decoration: none;
  border-radius: 20px;
}
.nav__top .nav__top__guest .nav__top__guest__buttons .nav__top__guest__button:nth-of-type(2) {
  background-color: #EFEEE4;
  color: #A3AF9E;
}
.nav__top .nav__top__guest i {
  font-size: 2.6rem;
  color: rgba(179, 179, 255, 0.7);
  margin: 0 1rem 0 1rem;
}
.nav__top * {
  align-self: center;
}

section.section__main__content {
  z-index: 0;
  position: relative;
  margin-top: 0.2rem;
  flex: 5.3;
  background: linear-gradient(335deg, rgba(111, 18, 255, 0.8197654062) 0%, rgba(100, 0, 255, 0.8) 100%);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-family: "Kulim Park", sans-serif;
}
section.section__main__content * {
  z-index: 1;
}
section.section__main__content .section__main__background {
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  position: absolute;
}
section.section__main__content .bg-group__primary {
  right: 0;
  background: linear-gradient(49deg, rgba(52, 73, 254, 0.424116888) 0%, rgba(47, 57, 255, 0.4353213698) 53%, rgba(0, 10, 254, 0.4073101653) 53%, rgba(255, 123, 0, 0.3736967199) 100%);
}
section.section__main__content .bg-group__second {
  right: -10%;
  clip-path: ellipse(29% 63% at 92% 77%);
  background: linear-gradient(350deg, rgba(255, 255, 255, 0) 0%, rgba(255, 127, 214, 0.0739768319) 20%, rgba(223, 159, 183, 0.2532485406) 40%, rgba(255, 88, 244, 0.8081505014) 100%);
}

.section__main__separator {
  flex: 0.2;
}

.hot-topics {
  z-index: 1;
  margin: 2rem 0 0 3rem;
  flex: 2;
  max-width: 45%;
}
.hot-topics .hot-topics__header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  /*.hot-topics__header__button:before{
      content: '';
      //z-index: -1;
      position: absolute;
      //background-color: white;
      //border: 1px solid black;
      width: 140%;
      height: 160%;
      border-top: 1px solid white;
      border-right: 1px solid white;
      border-radius: 50px;
      border-left: none;
      top: -40%;
      right: -20%;
      box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
      box-shadow: inset 0px 0px 8px 0px rgba(255,255,255,1);
  }*/
}
.hot-topics .hot-topics__header i {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
}
.hot-topics .hot-topics__header h1 {
  margin: 0 auto 0 0.7rem;
  font-size: 1.2rem;
}
.hot-topics .hot-topics__header .hot-topics__header__button {
  text-decoration: none;
  color: white;
  position: relative;
}
.hot-topics .hot-topics__list {
  background-color: white;
  border-radius: 8px;
  padding: 2rem 1.5rem;
}
.hot-topics .hot-topics__topic {
  display: flex;
  flex-direction: column;
}
.hot-topics .hot-topics__topic:nth-of-type(n+2) {
  margin-top: 2rem;
}
.hot-topics .hot-topics__topic__header {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  font-size: 17px;
  font-family: "Lato", sans-serif;
}
.hot-topics .hot-topics__topic__header a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  font-size: 17px;
  font-family: "Lato", sans-serif;
}
.hot-topics .hot-topics__topic__desc {
  margin-top: 0.4rem;
}
.hot-topics .hot-topics__topic__statistics {
  margin-top: 1rem;
}
.hot-topics .hot-topics__topic__statistics__container {
  background-color: rgba(0, 0, 0, 0.05);
  display: inline-block;
  padding: 0.2rem 2rem 0.4rem 1rem;
  border-radius: 20px;
}
.hot-topics .hot-topics__topic__statistics__container a {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}
.hot-topics .hot-topics__topic__statistics li {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.75);
}
.hot-topics .hot-topics__topic__statistics li:nth-of-type(n+2) {
  margin-left: 1rem;
}

.section-mark {
  padding-left: 0.6rem;
  position: relative;
  font-weight: 700;
  color: orange !important;
}
.section-mark a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75);
}
.section-mark:before {
  background-color: orange;
  content: "";
  position: absolute;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  left: -0.2rem;
  transform: translateY(0.1rem);
}

/*
    <ul class="hot-topics__list">
        <li class="hot-topics__topic">
            <h2 class="hot-topics__topic__header">What skill do u need to be a developer</h2>
            <p class="hot-topics__topic__desc">i want to ...</p>
            <ul class="hot-topics__topic__statistics">
                <li>300 replies</li>
                <li>300 likes</li>
                <li>300 views</li>
                <li>Dział design</li>
            </ul>
        </li>
*/
.section__main__content__right {
  z-index: 1;
  margin: 2rem 3rem 0 0;
  flex: 1;
}

.section__main__content__separator {
  flex: 1;
  max-width: 8%;
}

.categories {
  z-index: 2;
}
.categories__header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.categories__header i {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
}
.categories__header h1 {
  color: white;
  margin: 0 auto 0 0.7rem;
  font-size: 1.2rem;
}
.categories__list {
  padding: 1.5rem 1.5rem;
  margin-bottom: 2rem;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.categories__list a {
  color: white;
  text-decoration: none;
  position: relative;
  text-align: center;
  display: block;
  padding: 0.5rem 1.3rem;
  margin: 0.5rem 0.6rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  background-size: 300% 100%;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.categories__list a a {
  text-decoration: none;
  color: white;
}
.categories__list a:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.categories__list a:focus {
  outline: none;
}
.categories__list a:nth-of-type(2) {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.categories__list a:nth-of-type(3) {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.categories__list a:nth-of-type(4) {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.categories__list a:nth-of-type(5) {
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.categories__list a:nth-of-type(6) {
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.categories__list a:nth-of-type(7) {
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.categories__list a:nth-of-type(8) {
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.categories__list a:nth-of-type(9) {
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}
.categories__list a:nth-of-type(10) {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.stats__header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.stats__header i {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
}
.stats__header h1 {
  color: white;
  margin: 0 auto 0 0.7rem;
  font-size: 1.2rem;
}
.stats__list {
  padding: 1.5rem 1.5rem;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 8px;
}
.stats__list .stats__statistic {
  color: #595959;
}
.stats__list .stats__statistic:nth-of-type(n+2) {
  margin-top: 0.6rem;
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-post {
  text-align: center;
  font-size: 1.3rem;
  font-family: "Lato", "sans-serif";
  padding: 1rem 1.9rem;
  background-color: #0004ff;
  display: inline-block;
  align-self: center;
  border-left: 6px solid #00ff00;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.no-posts {
  text-align: center;
  font-size: 1.3rem;
  font-family: "Lato", "sans-serif";
  padding: 1rem 1.9rem;
  background-color: #ff0000;
  display: inline-block;
  align-self: center;
  border-left: 6px solid #ff4d4d;
  color: rgba(255, 255, 255, 0.9);
}
.no-posts__container {
  margin: 1.5rem 0;
}

.topic__container {
  align-self: stretch;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  position: relative;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.topic_container_wrap {
  max-width: 70%;
}

.fullheight {
  height: 100%;
}

.topic__author__container {
  flex: 1;
  text-align: center;
  margin-right: 2rem;
  padding-right: 2rem;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.topic__author {
  font-family: "Lato";
  font-weight: 300;
  text-decoration: none;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.7);
}

.topic__date {
  margin-top: 0.55rem;
  font-size: 0.9rem;
  font-family: "Lato";
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}

.topic__content {
  flex: 9;
}

.topic__header {
  font-family: "Lato";
  font-weight: 700;
  font-size: 1.7rem;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0.4rem;
}

.topic__desc {
  font-family: "Lato";
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.2rem;
}

.delete-topic {
  position: absolute;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  right: 0.8rem;
  bottom: 0.3rem;
  font-family: "Lato";
  font-weight: 300;
}

.topic {
  flex: 9;
  background: linear-gradient(335deg, rgba(111, 18, 255, 0.8197654062) 0%, rgba(100, 0, 255, 0.8) 100%);
  border-radius: 8px;
}

/*# sourceMappingURL=index.css.map */
