@import url("https://fonts.googleapis.com/css?family=Kulim+Park&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, input {
  font-family: "Kulim Park", sans-serif;
  color: #595959;
}

.section__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
}

.section__left {
  background-color: white;
  flex: 2;
  max-width: 5.5rem;
}

.section__main {
  margin-left: 0.5rem;
  flex: 8;
  display: flex;
  flex-direction: column;
}

.section__right {
  flex: 2;
  max-width: 4.5rem;
}

.brand-logo {
  width: 100%;
  height: auto;
  flex: 1;
}

.brand-logo__container {
  width: 100%;
  display: block;
  overflow: hidden;
  background: linear-gradient(335deg, rgba(111, 18, 255, 0.8197654062) 0%, rgba(100, 0, 255, 0.8) 100%);
  border-bottom-right-radius: 10px;
  flex: 1;
}

.nav__left {
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
}

.nav__left__buttons {
  flex: 5.5;
  margin-top: 1.3rem;
  display: flex;
  flex-direction: column;
}
.nav__left__buttons .nav__left__button {
  align-self: center;
  margin: 1.5rem 0;
}
.nav__left__buttons .nav__left__link i {
  font-size: 1.6rem;
  color: #3c3c3c;
}

/*
        <nav class="nav__top">
            <p class="nav__top__brand-name">DESIGNDEV FORUM</p>
            <input class="nav__top__search" type="search" placeholder="Search the forum">
            <div class="nav__top__guest">
                <p>Welcome, <!-- NAZWA KONTRA || Guest -->!</p>
                <img src="" class="nav__top__guest__image" alt="nazwa-konta">
            </div>
        </nav>
*/
.nav__top {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}
.nav__top .nav__top__brand-name {
  letter-spacing: 6px;
  font-size: 0.9rem;
  margin-left: 1.5rem;
}
.nav__top .nav__top__search__container {
  width: 55%;
  height: 2.2rem;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0px 1px 3px 0px rgba(30, 30, 30, 0.2);
  display: flex;
  flex-direction: row;
}
.nav__top .nav__top__search__container i {
  margin: 0 0.8rem 0 1rem;
  color: rgba(100, 0, 255, 0.7889530812);
  font-size: 1.2rem;
}
.nav__top .nav__top__search {
  height: 100%;
  width: 100%;
  border: none;
}
.nav__top .nav__top__guest {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}
.nav__top .nav__top__guest:hover .nav__top__guest__buttons {
  display: block;
}
.nav__top .nav__top__guest .nav__top__guest__buttons {
  display: none;
  box-shadow: 0px 1px 5px 0px rgba(30, 30, 30, 0.1);
  position: absolute;
  width: 80%;
  top: 100%;
  left: -1.8rem;
  background-color: #FCF8FF;
  border-radius: 4% 1% 4% 4%;
  padding: 0.8rem 0.7rem 1rem;
}
.nav__top .nav__top__guest .nav__top__guest__buttons:hover {
  display: block;
}
.nav__top .nav__top__guest .nav__top__guest__buttons .nav__top__guest__buttons__text {
  color: #4B4453;
  margin: 0 0 1.5rem;
}
.nav__top .nav__top__guest .nav__top__guest__buttons .nav__top__guest__button {
  font-family: "Kulim Park", sans-serif;
  text-align: center;
  margin: 0.3rem auto;
  width: 95%;
  line-height: 180%;
  display: block;
  background-color: rgba(81, 0, 202, 0.52);
  color: white;
  text-decoration: none;
}
.nav__top .nav__top__guest i {
  margin: 0 0.5rem 0 1rem;
  font-size: 2.6rem;
  color: rgba(179, 179, 255, 0.7);
}
.nav__top * {
  align-self: center;
}

section.section__main__content {
  margin-top: 0.2rem;
  flex: 5.3;
  background: linear-gradient(335deg, rgba(111, 18, 255, 0.8197654062) 0%, rgba(100, 0, 255, 0.8) 100%);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-family: "Kulim Park", sans-serif;
}

.section__main__separator {
  flex: 0.2;
}

.hot-topics {
  margin: 2rem 0 0 3rem;
  flex: 2;
  max-width: 45%;
}
.hot-topics .hot-topics__header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.hot-topics .hot-topics__header i {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
}
.hot-topics .hot-topics__header h1 {
  margin: 0 auto 0 0.7rem;
  font-size: 1.2rem;
}
.hot-topics .hot-topics__header .hot-topics__header__button {
  text-decoration: none;
  color: white;
  position: relative;
}
.hot-topics .hot-topics__header .hot-topics__header__button:before {
  content: "";
  position: absolute;
  width: 140%;
  height: 160%;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-radius: 50px;
  border-left: none;
  top: -40%;
  right: -20%;
  box-shadow: 0px 0px 8px 0px white;
  box-shadow: inset 0px 0px 8px 0px white;
}
.hot-topics .hot-topics__list {
  background-color: white;
  border-radius: 8px;
  padding: 2rem 1.5rem;
  color: white;
}
.hot-topics .hot-topics__list p {
  color: white;
}
.section__main__content__right {
  margin: 2rem 3rem 0 0;
  flex: 1;
}

.section__main__content__separator {
  flex: 1;
  max-width: 8%;
}

/*# sourceMappingURL=index.css.map */
