@import url("https://fonts.googleapis.com/css?family=Kulim+Park&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.section-left {
  flex: 1;
  position: relative;
}
.section-left:before {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  z-index: -1;
  left: -50vw;
  top: -35vh;
  content: "";
  width: 100vw;
  height: 170vh;
  position: absolute;
  border-radius: 50%;
  background-color: green;
}
.section-left__context {
  position: absolute;
  flex-direction: column;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  font-family: "Lato", sans-serif;
}
.section-left__brand {
  font-size: 2rem;
  color: white;
}
.section-left__text {
  font-size: 2.5rem;
  color: white;
  font-weight: 400;
}

.section-right {
  flex: 1;
  height: 100%;
}

.guest-image {
  width: 6rem;
  height: 6rem;
  margin-bottom: 1rem;
}

.brand-logo {
  width: 6rem;
  height: auto;
}

.content-section {
  padding: 0 5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-section fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-section .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-section .form-group div {
  width: 100%;
}
.content-section .form-group label {
  display: none;
}

#hint_id_username, #hint_id_password2, #hint_id_password1 {
  display: none;
}

.textinput, .emailinput {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border: solid 1px #e9e9e9;
  width: 100%;
  padding: 0.9rem 0 0.9rem 2rem;
  border-radius: 20rem;
  box-sizing: border-box;
}
.textinput:nth-of-type(1), .emailinput:nth-of-type(1) {
  margin-bottom: 1rem;
}
.textinput:focus, .emailinput:focus {
  outline: none;
}

.login__desc {
  margin: 1.5rem 0;
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  text-align: center;
}

.btn {
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  box-shadow: 0px 8px 18px -4px rgba(33, 212, 253, 0.55);
  width: 100%;
  height: 3rem;
  border: 4px solid white;
  border-radius: 20rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  margin-bottom: 2rem;
}
.btn:focus {
  outline: none;
  outline-color: rgba(0, 0, 0, 0);
}

.text-muted {
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.text-muted a {
  text-decoration: none;
  color: #1ebbdf;
}

.alert li, .invalid-feedback {
  font-size: 0.8rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin-bottom: 0.6rem;
  color: red;
  text-align: center;
}

.profile__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=user.css.map */
